@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
}

:root {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #404042;
    --primary-header--color: #404042;
    --toggle-color: #fff;
    --text-color: #F0F1F0;
    --secondary--text--color: #ABAAAB;
    --tertiary--text--color: #3EA7FE;
    --primary--button--bg: #3C3D3C;
    --primary--button--hover: #454544;
    --primary--button--text: #F0F1F0;
    --light--filled--button--bg: #F0F1F0;
    --light--filled--button--hover: #D8D8D9;
    --light--filled--button--text: #0E0E0F;
    --dark--filled--button--bg: #212121;
    --dark--filled--button--box--shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
    --card--background: #262627;
    --tertiary--button--border: #3F3F3F;
    --dropdown--background: #ffffff;
    --modal--background--color: #212121;
    --modal--card--hover--bg: rgba(255,255,255,0.2);
    --icon--inactive: #ffffff;
    --icon--disabled: #717171;

    /* ========= Transition ======== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body,
.body__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    background: var(--body-color);
}

.main__content__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.main__content__container {
    width: 100%;
    height: 100%;
    overflow-y:auto;
    overflow-x:hidden;
}

.primary__button {
    background-color: var(--primary--button--bg);
    color: var(--primary--button--text);
    padding: 8px 24px;
    outline: none;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

.primary__button:hover {
    background-color: var(--primary--button--hover);
}