<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/loginPage.css}" rel="stylesheet">
    <title>Admin Login</title>
</head>
<body>

<section class="login__wrapper">

    <div class="login__container">
    <span>
      Welcome to login form
    </span>
        <th:block th:if="${session.errorMessage}">
        <p style="color: red;">
            <strong>Error:</strong> <span>[[${session.errorMessage}]]</span>
        </p>
<!--            <th:block th:text="${#session.removeAttribute('errorMessage')}"></th:block>-->
        </th:block>
<!--        <p th:if="${errorMessage != null}" style="color: red;">-->
<!--            <strong>Error:</strong> <span th:text="${errorMessage}"></span>-->
<!--        </p>-->
        <form class="form__container" th:action="@{/loginPage/register/}" method="post">
            <label id='username' class='login__input__container'>
                UserName
                <input type = "text" name="username" class="login__input__box"/>
            </label>
            <label id="password" class="login__input__container">
                Password
                <input type = "password" name="password" class="login__input_box" required/>

                <input type = "submit" class="signin__button" name = "Login" value = "Login"/>
            </label>
        </form>
    </div>
</section>
</body>
</html>