<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/loginPage.css}" rel="stylesheet">
    <script th:src="@{/js/loginPage.js}" type="text/javascript" charset="utf-8" defer="defer"></script>
    <title>Admin Login</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function (){
            var initialToastMessage = [[${errorMessage}]] ||  null;
            if (initialToastMessage) {
                showToast(initialToastMessage);
            }
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('error')) {
                // Remove the 'error' parameter from the URL
                urlParams.delete('error');
                const newUrl = window.location.pathname  + urlParams.toString();
                window.history.replaceState({}, document.title, newUrl);
            }
        })
        /*]]>*/
    </script>
</head>
<body>

<section class="login__wrapper">

    <div class="login__container">
    <span>
      Welcome to login form
    </span>
        <div th:if="${not #strings.isEmpty(errorMessage)}" id="toast" class="toast">
            <div th:text="${errorMessage}" class="toast-body"></div>

        </div>
        <p>Testing purpose</p>
        <form class="form__container" th:action="@{/login}" method="post">
            <label id='email' class='login__input__container'>
                UserName
                <input type="text" name="username" cla ss="login__input__box" required/>
            </label>
            <label id="password" class="login__input__container">
                Password
                <input type="password" name="password" class="login__input_box" required autocomplete="true"/>

                <input type="submit" class="signin__button" name = "Login" value = "Login"/>
            </label>
        </form>
    </div>
</section>
</body>
</html>