<table align="center" border = "0" cellpadding = "0" cellspacing = "0" width = "350" bgcolor = "white">
    <tbody>
    <tr style = 'height: 40px'>
    </tr>
    <tr >
        <td style = 'padding-left: 10px; font-size: 25px; font-weight: bold'>
            Verify your Sign Up!
        </td>
    </tr>
    <tr>
        <td style = 'padding-left: 10px; padding-top:30px'>
            Below is your one time passcode:
        </td>
    </tr>
    <tr>
        <td style = 'padding-left: 10px; padding-top:30px'>
            <div style = 'padding: 10px; border-radius:10px;width:100px; height: 30px; display:flex ; align-items: center; justify-content: center; letter-spacing: 2px; font-size: 25px; background-color: lightgray'>[[${otpCode}]]</div>
        </td>
    </tr>
    <tr>
        <td style = 'padding-left: 10px; padding-top:30px; line-height: 25px '>
            We're here to help if you need it. Contact Aman Khadka for further assessment.
        </td>
    </tr>
    <tr>
        <td style = 'padding-left: 10px; padding-top:30px; line-height: 25px '>
            <strong>Note:</strong> Passcode is only valid up to 5 minutes.
        </td>
    </tr>
</table>